// footer

footer{
	background:rgb(51,49,62);
	color:white;
	padding:50px;
	@media (max-width: 768px) {
		margin-top:60px;
	}
}

.fColumn1{
	width:40%;
	@media (max-width: 768px) {
		width:100%;
	}
}

.fColumn2{
	width:10%;
	@media (max-width: 768px) {
		width:20%;
	}
	@media (max-width: 480px) {
		width:50%;
	}
}

.fColumn3{
	width:25%;
	@media (max-width: 768px) {
		width:40%;
	}
	@media (max-width: 480px) {
		width:50%;
	}
}

.fColumn4{
	width:25%;
	@media (max-width: 768px) {
		width:40%;
	}
	@media (max-width: 480px) {
		width:100%;
	}
}

.fColumn{
	float:left;
	padding-right: 1.5%;
	.fTitle{
		letter-spacing: 1px;
	}
	.fColorLine{
		width:15px;
		padding:1px;
		background:rgb(209,33,205);
		border-radius: 50px;
		margin-bottom:15px;
	}
	.fP{
		color:grey;
		font-size: 1.1rem;
		line-height: 1.6rem;
	}
	.fPPurple{
		color:rgb(164,68,161);
	}
	ul{
		padding-left:0;
	}
	ul li {
		list-style: none;
		line-height: 2rem;
		a{
			position: relative;
			text-decoration: none;
			color:white;
			outline:0;
		}
		a:hover{
			color:rgb(164,68,161);
		}
		a:active{
			text-shadow: 0 0 5px rgb(164,68,161);
		}
	}
	.InstaSq{
		float:left;
		height:50px;
		width:50px;
		margin:5px;
	}
}

.Insta{
	padding-right:0;
	height:auto;
	.InstaSq1{
		background: url('../assets/insta_small5.jpg');
		background-size:cover;
	}
	.InstaSq2{
		background: url('../assets/insta_small4.jpg');
		background-size:cover;
	}
	.InstaSq3{
		background: url('../assets/insta_small3.jpg');
		background-size:cover;
	}
	.InstaSq4{
		background: url('../assets/insta_small2.jpg');
		background-size:cover;
	}
	.InstaSq5{
		background: url('../assets/insta_small1.jpg');
		background-size:cover;
		background-position: right;
	}
	.InstaSq6{
		background: url('../assets/insta_small6.jpg');
		background-size:cover;
	}
	.InstaSqO{
		width:100%;
		height:100%;
		background: $pBGradientNinety;
		visibility:hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		button{
			background:transparent;
			color:white;
			border:none;
		}
	}
	.InstaSq1:hover .InstaSqO,
	.InstaSq2:hover .InstaSqO,
	.InstaSq3:hover .InstaSqO{
		visibility: visible;
	}
	.InstaSqO button:active{
		transform: translateY(2px);
	}
}

.footerCircle{
	display: flex;
	justify-content: center;
	margin-top:70px;
	.footerCircles{
		border-radius: 50px;
		width:35px;
		height:35px;
		background:rgb(128,126,140);
		display:flex;
		justify-content: center;
		align-items: center;
		color:rgb(51,49,62);
		margin:3px;
		text-decoration: none;
		border:none;
	}
	.footerCircles:hover{
		background:$pBGradient;
		color:white;
	}
	.footerCircles:active{
		position: relative;
		top:2px;
	}
}

//Andy

.Insta .InstaSq4:hover{
	background: url('../assets/andy.png');
	background-size:cover;
	background-position: left;
}
.Insta .InstaSq5:hover{
	background: url('../assets/andy.png');
	background-size:150%;
	background-position: 33%;
}
.Insta .InstaSq6:hover{
	background: url('../assets/andy.png');
	background-size:200%;
	background-position: 35%;
}

.adam{
	position:absolute;
	bottom:0;
	left:-2000px;
	width:540px;
	height:360px;
	background: url(../assets/adamf.jpeg);
	background-size: 100%;
	background-position: center;
	z-index: 100;
	transition: left 4s linear;
}

.dadam:hover .adam{
	left:2000px;

}

.featuresBtnJ{
	transition: background 1s linear;
}

.featuresBtnJ:hover{
	background: url(../assets/jake.png);
	background-size: 130%;
	background-position: 85%;
}