$wrapperWidth: 780px;

$pBGradient: linear-gradient(to bottom right, rgb(209,33,205), rgb(68,74,238));

$pBGradientNinety: linear-gradient(to bottom right, rgba(209,33,205,0.9), rgba(68,74,238,0.9));

$pBGradientTen: linear-gradient(to bottom right, rgba(209,33,205,0.1), rgba(68,74,238,0.1));

$backgroundGray: rgb(240,240,240);

$lightGray: rgb(209,209,209);